
.carousel{
    position: relative;
    cursor: pointer;
}


.carousel::before{
    position: absolute;
    content: url('/public/images/bg-pattern.png');
    /* background-image: url('/public/images/bg-pattern.png'); */
    width: 100%;
    overflow-x: hidden;
    top: -4px;
    left: 0;
    z-index: 10;
}