*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





.main-nav{
    
    border-bottom: 1px solid var(--border);
    background: #ffc9ce;
  
}
.main-nav .menu-button{
    border-right: 1px solid var(--border);
    padding: 25px;
}
.main-nav .menu-button button{
    background: none;
    outline: none;
    border: none;
    color:black;
    padding: 0;
    
}

.main-nav .menu-button button:hover{
    color: var(--theme);
}



.logo-sec{
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--border);
    padding: 16px;
    
}

.logo-sec input{
    background: none;
    outline: none;
    border: none;
 
}


.modal {
    padding-left: 0 !important;
    height: 100vh !important;
}

.modal-dialog {
    margin: 0 !important;

    width: 300px !important;
}

.modal-body{
    display: grid;
    place-items: center;
}

.modal-dialog .modal-header{
    border: none !important;
}

.modal-dialog .modal-content{
    height: 100vh !important;
    border-radius: 0 !important;
}

.modal-body .dropend{
    margin-bottom: 20px;
}

.modal-body .dropend button{
    background: none;
    outline: none;
    border: none;
    color: #000;
    font-size: 25px;
    font-weight: 600;
}
.account{
    padding: 20px;
}

.account .dropdown button{
    background: none;
    border: 0;
    outline: none;
    text-align: center;
    color: #000;
}

.cart {
    text-align: center;
    color: #fff;
    background: #000;
    width: 100%;
    padding: 25px;
}

.dropdown .dropdown-menu {
    border-radius: 0;
    background: #ffdadd;
    padding: 0 8px;
}