*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.modal {
    padding-left: 0 !important;
    height: 100vh !important;
}

.modal-dialog {
    margin: 0 !important;

    width: 200px !important;
}

.modal-dialog .modal-header{
    border: none !important;
}

.modal-dialog .modal-content{
    height: 100vh !important;
    border-radius: 0 !important;
}