@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+Telugu:wght@400;600&family=Nunito:wght@200;400;600&display=swap');



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

:root{
  --clr1: #d41342;
  --border: rgb(139, 139, 139);
  --theme:#ffb8be;
}

.app .container-fluid{
  padding: 0 0;
}